/*Este codigo es para elminar cualquier estilo previo*/
* {
    margin:0;
    padding:0;
}

.menu_izquierda {
    /* background: #abe96c; */
    width: 100%;
    height: 200px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    

}

.menu_izquierda img{
    width: 70px;
}

.texto-menu-izquierda{

}